<div ng-init="getAttr(); window.scrollTo(0, 0)">
<h1 class="where">{{oneAttr.name}}</h1>
</div>


<div  id="flex">
    <div class="threesixty {{oneAttr.pic.tag}}" id="left">
<a href="#"><img ng-src={{oneAttr.pic.url}} alt="" /></a>
<h4 class="where2">{{place.name}}</h4>
  </div>
  <div class="threesixty {{oneAttr.vid.tag}}" id="left">
<a href="#"><iframe width="560" height="315" ng-src={{oneAttr.vid.url}} frameborder="0" allowfullscreen></iframe></a>
  </div>
  <div class="threesixty {{oneAttr.threeSixty.tag}}" id="left">
<a href="#"><iframe ng-src={{oneAttr.threeSixty.url}} width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></a>
  </div>
</div>
