<div ng-init="getAttr(); window.scrollTo(0, 0)">
    <h1 class="where">{{oneAttr.name}}</h1>
</div>


<div id="flex">
    <div class="threesixty {{oneAttr.pic[0].tag}}">
        <a><img ng-src={{oneAttr.pic[0].url}} alt="{{oneAttr.pic[0].alt}}" /></a>
        <button class="labelButton" ui-sref="gallery({galleryId: oneAttr._id})">Pictures</button>
    </div>
    <div class="threesixty {{oneAttr.vid[0].tag}}">
        <a><span ng-bind-html="trust(oneAttr.vid[0].url)"></span></a>
        <button class="labelButton" ui-sref="videos({videosId: oneAttr._id})">Videos</button>
    </div>
    <div class="threesixty {{oneAttr.threeSixty[0].tag}}">
        <a><span ng-bind-html="trust(oneAttr.threeSixty[0].url)"></span></a>
        <button class="labelButton" ui-sref="threeSixties({threeSixtiesId: oneAttr._id})">360's</button>
    </div>
</div>
