<h1 class="where">Where in Montana would you like to go ?</h1>

<div id="flex">

    <div ng-submit="getDest(attraction)" class="threesixty transform1">
        <a ng-click="attraction.name" class="pic" ui-sref="attract"><img class="large" src="./../images/YNP.jpg" alt="" /></a>
    </div>

    <div class="threesixty transform2">
        <a class="pic" ui-sref="attract"><img class="large" src="./../images/Glacier.jpg" alt="" /></a>
    </div>

    <div class="threesixty transform3">
        <a class="pic" ui-sref="attract"><img class="large" src="./../images/Bozeman.jpg" alt="" /></a>
    </div>

    <div class="threesixty transform4">
        <a class="pic" ui-sref="attract"><img class="large" src="./../images/Missoula.jpg" alt="" /></a>
    </div>

</div>
