body {
  margin: 0;
  font-family: 'Satisfy', cursive;
  background-image: url("images/paper.jpg");
  background-attachment: fixed;
  opacity: 1;
  width: 100vw;
}

header {
  height: 80px;
  width: 100vw;
  background-color: #1a3b6a;
  background: linear-gradient(rgb(54, 102, 210) ,rgb(26, 70, 181), #102f5c);
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: 500vh;
  color: white;
  text-shadow: 1px 1px black;
  position: fixed;
  z-index: 99;
}

.button {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  height: 300px;
  width:300px;
}

.postmark {
  position: absolute;
  right: 0;
  margin-top: 100px;
  z-index: -10;
}

.throw {
  font-size: 50px;
  color: black;
}

.dart {
  height:300px;
  width: auto;
}

.bullseye {
  height: 150px;
  width: auto;
}

.lost {
  position: absolute;
  left: 0;
}

.marginBox {
  margin-top: 0;
  padding-top: 0;
}

.greetings {
  margin: 80px 0 -150px -20px;
  padding: 0;
  height: 50vh;
  width: auto;
  position: absolute;
  left: 0;
}

#search {
  height: 30px;
  width: 400px;
  margin: 20px 0 0 50px;
  font-size: 20px;
}

.search1 {
  font-size: 15px;
  font-family: 'Satisfy', cursive;
  color: white;
  text-shadow: 2px 2px black;
  background: linear-gradient(rgb(54, 102, 210) ,rgb(26, 70, 181), #102f5c);
  height: 36px;
  width: 200px;
  margin: 40px 0 -30px 0;
}

.where {
  text-align: center;
  font-size: 60px;
  color: black;
  /*text-shadow: 5px 5px white;*/
  font-family: 'Bungee Shade', cursive;
  z-index: 199;
}

.where1 {
  font-size: 80px;
  text-align: center;
  color: black;
  font-family: 'Bungee Shade', cursive;
  z-index: 199;
  /*text-shadow: 5px 5px ;*/
  padding-top: 20px;
}

.greet {
  margin-top: -380;
  color: white;
  /*text-shadow: 2px 2px black;*/
  font-size: 20px;
  padding: 0;
}

.where2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
  padding: 0;
  margin-top: -70px;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.title {
  margin-top: 100px;
}

.tabs {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  vertical-align: top;
}

.vv {
  font-size: 80px;
  text-shadow: 2px 2px black;
  padding-left: 120px;
}

.link {
  padding-left: 15px;
  vertical-align: middle;
  padding: 20px 20px 0 20px;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;;
}

#left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

 .threesixty {
   border: 20px solid white;
   box-shadow: 10px 10px 5px #333333;
   height: 350px;
   width: 465px;
   margin: 30px 30px 30px 30px;
   padding: 0;
 }

 .threesixty a, .threesixty a img {
   height: 100%;
   width: 100%;
   padding: 0;
 }

 .threesixty a, .threesixty a iframe {
   height: 100%;
   width: 100%;
   padding: 0;
 }

 .threesixty a, .threesixty a iframe {
   height: 100%;
   width: 100%;
   padding: 0;
 }

.name {
  text-align: center;
}

div #flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 120px 0 120px;
  z-index: 30;
}

div #flex1 {
  display: flex;
  flex-wrap: wrap;
  margin: -40px 120px 0 120px;
  z-index: 30;
}

.pano {
  width: 900px;
  height: auto;
}

.pic {
  overflow: hidden;
}

.large {
  height: 350px;
  width: 465px;
}

.label {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 15px;
}

.labelButton {
  height: 45px;
  width: auto;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: white;
  background: linear-gradient(rgb(54, 102, 210) ,rgb(26, 70, 181), #102f5c);
  text-shadow: 2px 2px black;
  margin: -20px -50px;
    position:relative;
    /*top:50%;*/
    left:50%;
}

.dart {
   cursor: url(./images/DartCur.png),auto;
}

.transform1 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
  position: relative;
  -webkit-animation: mymove 4s; /* Safari 4.0 - 8.0 */
  animation: mymove 4s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }

.transform2 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
  position: relative;
  -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  }

.transform3 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
  position: relative;
  -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }

.transform4 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
  position: relative;
  -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
  animation: mymove 5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }

  .transform5 {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20 deg);
    }
