/*font-family: 'Satisfy', cursive;
font-family: 'Courgette', cursive;
font-family: 'Bangers', cursive;
font-family: 'Cookie', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Niconne', cursive;
font-family: 'Amita', cursive;*/

body {
  margin: 0;
  font-family: 'Satisfy', cursive;
  background-image: url("images/Sky 1.jpg");
  background-size: 150%;
  width: 100vw;
}

header {
  height: 80px;
  width: 100vw;
  background-color: #1a3b6a;
  background: linear-gradient(rgb(54, 102, 210) ,rgb(26, 70, 181), #102f5c);
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: 500vh;
  color: white;
  text-shadow: 1px 1px black;
}

.where {
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 2px 2px white;
}

.greet {
  margin-top: -380;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
  padding: 0;
}

.where2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
  padding: 0;
  margin-top: -70px;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.tabs {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  vertical-align: top;
}

.vv {
  font-size: 80px;
  padding-left: 150px
}

.link {
  padding-left: 15px;
  vertical-align: middle;
  padding: 20px 20px 0 20px;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;;
}

#left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

 .threesixty {
   border: 20px solid white;
   box-shadow: 10px 10px 5px #333333;
   height: 350px;
   width: 465px;
   margin: 30px 30px 30px 30px;
 }

 .threesixty a, .threesixty a img {
   height: 100%;
   width: 100%;
 }

 .threesixty a, .threesixty a iframe {
   height: 100%;
   width: 100%;
 }

 .threesixty a, .threesixty a iframe {
   height: 100%;
   width: 100%;
 }

.name {
  text-align: center;
}

div #flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.pano {
  width: 900px;
  height: auto;

}

.pic {
  overflow: hidden;
}

.large {
  height: 350px;
  width: 465px;
}

.transform1 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
    position: relative;
    -webkit-animation: mymove 4s; /* Safari 4.0 - 8.0 */
    animation: mymove 4s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

.transform2 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
    position: relative;
    -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }

.transform3 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
    position: relative;
    -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

.transform4 {
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
    position: relative;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  @-webkit-keyframes mymove {
  from {left: 300px;}
  to {left: 0px;}

  @keyframes mymove {
  from {left: 300px;}
  to {left: 0px;}
